@use '../../global' as *;
.news {
  position: relative;
  padding-bottom: 62px;

  .bl_cardUnit_top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;

    @include mq("sm") {
      display: block;
    }
    
    > .bl_card {
      margin-right: 30px;
      margin-bottom: 30px;
      
      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(3) {
        width: calc(100% / 3 - 30px * (3 - 1) / 3);
        @include mq("sm") {
          width: 100%;
        }
        
        .bl_card_imgWrapper {
          position: relative;
          padding-top: 56.25%;
          overflow: hidden;
  
          > img {
            position: absolute;
            top: 50%;
            width: 100%;
            transform: translateY(-50%) scale(1.12);
          }
        }
      }
      
      &:nth-of-type(4),
      &:nth-of-type(5) {
        display: flex;
        width: calc(100% / 2 - 30px * (2 - 1) / 2);
        margin-right: 30px;
        margin-bottom: 0;
        
        @include mq("sm") {
          display: block;
          margin-bottom: 30px;
          width: 100%;
        }
        
        .bl_card_imgWrapper {
          flex: 0 1 156px;
          @include mq("sm") {
            position: relative;
            padding-top: 56.25%;
            overflow: hidden;
            
            > img {
              position: absolute;
              top: 50%;
              width: 100%;
              transform: translateY(-50%) scale(1.12);
            }
          }
        }
        .bl_card_body {
          flex: 1;
        }
      }
      &:nth-of-type(2n + 3) {
        margin-right: 0;
      }
    }
  }
  a.bl_card {
    display: block;
    color: currentColor;
    transition: $opacity $transition ease 0s;
    text-decoration: none;

    &:focus,
    &:hover {
      opacity: $opacity;
    }
  }

  .bl_card {
    background: #fff;
    border-radius: 4px;

    // .bl_card:nth-of-type(n + 1),
    // .bl_card:nth-of-type(n + 2),
    // .bl_card:nth-of-type(n + 3) {
    //   .bl_card_imgWrapper {
    //     position: relative;
    //     padding-top: 56.25%;
    //     overflow: hidden;

    //     > img {
    //       position: absolute;
    //       top: 50%;
    //       width: 100%;
    //       transform: translateY(-50%) scale(1.12);
    //     }
    //   }
    // }

    &_body {
      padding: 15px;
    }

    &_date {
      color: #666;
      @include fzRem($remove_halfReading: true, $size: 12, $height: 21);
    }

    &_ttl {
      @include fzRem($remove_halfReading: true, $size: 16, $height: 21);
      color: #333;
    }
  }

  .bl_halfMediaUnit {
    @include unit_col(2, 30, 30);
  }

  a.bl_halfMedia {
    color: currentColor;
    transition: $opacity $transition ease 0s;
    text-decoration: none;

    &:focus,
    &:hover {
      opacity: $opacity;
    }
  }

  .bl_halfMedia {
    display: flex;
    background: #fff;

    @include mq("sm") {
      display: block;
    }

    &_imgWrapper {
      flex: 0 1 156px;

      @include mq("sm") {
        position: relative;
        padding-top: 56.25%;
        overflow: hidden;

        > img {
          position: absolute;
          top: 50%;
          width: 100%;
          transform: translateY(-50%) scale(1.12);
        }
      }
    }

    &_body {
      flex: 1;
      padding: 15px;

      @include mq("sm") {
        display: block;
      }
      > *:last-child {
        margin-bottom: 0;
      }
    }

    &_date {
      color: #666;
      @include fzRem($remove_halfReading: true, $size: 12, $height: 21);
    }

    &_ttl {
      margin-top: 5px;
      @include fzRem($remove_halfReading: true, $size: 16, $height: 21);
      color: #333;
    }
  }
}

.bl_news_footer {
  position: absolute;
  top: 10px;
  right: 0;
  > .el_btn {
    padding: 10px 20px;
  }

  @include mq("sm") {
    position: static;
    text-align: center;
    padding-top: 30px;
  }
}
